body{

text-align:center;

font-family:
Arial,
"Microsoft YaHei";

background:#f4f4f4;

}


h1{

margin-top:20px;

}



.compass{

width:300px;

height:300px;

border:8px solid #333;

border-radius:50%;

margin:40px auto;

background:white;

position:relative;

box-shadow:
0 0 20px #aaa;

}



.north,
.east,
.south,
.west{

position:absolute;

font-size:30px;

font-weight:bold;

}



.north{

top:10px;

left:135px;

color:red;

}


.south{

bottom:10px;

left:135px;

}



.east{

right:15px;

top:135px;

}



.west{

left:15px;

top:135px;

}



#needle{


position:absolute;

top:60px;

left:120px;

font-size:70px;

color:red;

transform-origin:

center 100px;


transition:
0.15s;


}



.info{

background:white;

padding:20px;

border-radius:20px;

margin:20px;


}



#degree{

font-size:45px;

font-weight:bold;

}



#direction{

font-size:35px;

color:bule;

}



button{

padding:12px 20px;

margin:10px;

border-radius:20px;

border:none;

font-size:16px;

}