body{

margin:0;

padding:20px;

text-align:center;

font-family:
"Microsoft YaHei",
Arial;

background:#f5f5f5;

}



h1{

margin-top:20px;

}



.compass{


width:300px;

height:300px;

border:8px solid #333;

border-radius:50%;

margin:40px auto;

background:white;

position:relative;

box-shadow:
0 0 20px #ccc;

transition:0.3s;


}




.mark{


position:absolute;

font-size:28px;

font-weight:bold;

}



.north{

top:15px;

left:135px;

color:red;

}



.south{

bottom:15px;

left:135px;

}



.east{

right:15px;

top:135px;

}



.west{

left:15px;

top:135px;

}



.degree-line{


position:absolute;

width:2px;

height:140px;

background:#ddd;

left:149px;

top:80px;


}




#needle{


position:absolute;

top:55px;

left:120px;

font-size:70px;

color:red;

transform-origin:

center 100px;

transition:

0.2s;


}



.panel{


background:white;

padding:20px;

border-radius:20px;

max-width:300px;

margin:auto;

}



#degree{


font-size:45px;

margin:10px;


}



#direction{


font-size:35px;

color:#d33;

}



button{


padding:12px 30px;

font-size:18px;

border-radius:20px;

border:none;

background:#e53935;

color:white;


}